<input class="search" [(ngModel)]="searchQuery" name="search" placeholder="Search for images">
<br>
<br>
<button (click)="SearchImage(searchQuery)" class="btn btn-primary" type="button">Find Images</button>

<p *ngIf="searching">Searching for data</p>



<div *ngFor="let image of images " class=image-container>
    <img src="{{image['webformatURL']}}" alt="">
    <p>Tags : {{image['tags']}}</p>
    <p>User : {{image['user']}}</p>
    <p>Comments : {{image['comments']}}</p>
    <p>Likes : {{image['likes']}}</p>
</div>

